/*
	Fonts:
	https://www.fontspace.com/jackster-productions/pokemon-gb
*/

@font-face
{
    font-family: 'pokemon_gbregular';
    src: url('content/pokemon_gb-webfont.woff2') format('woff2'),
         url('content/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'pokemon_gbregular';
	background-color: rgba(252, 255, 229, 0.49);
}

#page-title
{
	font-weight: normal;
	font-style: normal;
	color: black;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 35px;
}

main
{
  margin-bottom: 60px;
}

#search-box
{
  text-align: center;
}

#search-txt
{
  border: 3px solid #00008b;
    /* max-width: 50%; */
    /* min-width: 45%; */
    width: 400px;
    height: 33px;
    font-size: 15px;
    border-radius: 15px;
    padding-left: 10px;
    font-family: inherit;
}

.hide
{
  display: none;
}

#error-lbl
{
  font-family:  inherit;
  color:red;
}

#search-btn
{
  border: 2px solid black;

  font-size: 13px;
  font-family: inherit;
  height: 30px;
  margin-bottom: 10px;
  /* background-image: linear-gradient(red 50%, black 55%, white 30%); */
}

#btn-Section1, #btn-Section2
{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#btn-Section1
{
	margin-bottom: 15px;
}
.wrap
{
  position: relative;
}
.btns
{
	font-family: 'pokemon_gbregular';
	color: white;
	font-size: 13px;
	height: 33px;
	width: 115px;
	border: none;
	text-align: center;
	border-radius: 10%;
	box-shadow: 0px 0px 10px -4px black;
	margin-right:10px;
	margin-bottom: 10px;
}

.btns:hover
{
	cursor: pointer;
}

#dual-type-Chck
{
	width: 17px;
	height: 17px;
	margin-bottom: 30px;
	/* font-weight: bold; */
}

.normalBtn
{
	background-color: gray;
	border: 2px solid #727272;
}
.fireBtn
{
	background-color: #EE8130;
	border: 2px solid #cd6f29;
}
.waterBtn
{
	background-color: #2d69e8;
	border: 2px solid #1455df;
}
.electricBtn
{
	background-color: #F7D02C;
	border: 2px solid #e0bf35;
}
.grassBtn
{
	background-color: #7AC74C;
	border: 2px solid #6eb345;
}
.iceBtn
{
	background-color: #a2e0ff;
  border: 2px solid #8cbfd8;
}
.fightingBtn
{
	background-color: #C22E28;
	border: 2px solid #a52a24;
}
.poisonBtn
{
	background-color: #A33EA1;
	border: 2px solid #8a3588;
}
.groundBtn
{
	background-color: #E2BF65;
	border: 2px solid #bb9e53;
}
.flyingBtn
{
	background-color: #89f;
	border: 2px solid #717fd4;
}
.psychicBtn
{
	background-color: #F95587;
	border: 2px solid #c5436b;
}
.bugBtn
{
	background-color: #A6B91A;
	border: 2px solid #819013;
}
.rockBtn
{
	background-color: #B6A136;
	border: 2px solid #96852d;
}
.ghostBtn
{
	background-color: #735797;
  border: 2px solid #4a3861;
}
.dragonBtn
{
	background-color: #6F35FC;
	border: 2px solid #5f2fd4;
}
.darkBtn
{
	background-color: #705746;
	border: 2px solid #42332a;
}
.steelBtn
{
	background-color: #B7B7CE;
	border: 2px solid #9999ab;
}

.fairyBtn
{
	background-color:#fdbafd;
	border: 2px solid #dea7de;
}

hr
{
	border: 0;
 	height: 1px;
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#results
{
  margin-top: 25px;
	margin-left: 30px;
  margin-bottom: 25px;
  visibility:hidden;
}

#type-Result
{
	/* font-family: 'Arial'; */
	text-align: center;
	color: white;
	margin: 0 auto 25 auto;
	padding-top: 6px;
	padding-bottom: 8px;
	margin-left: auto;
	/* border: 2px solid black;
	border-radius: 30%; */
}

footer
{
  position: absolute;
	font-family: 'Arial';
  font-size: 11px;
	background-color: #737373;
	color: white;
	width: 100%;
	/* height: 77px; */
	margin-bottom: 0px;
  left:0px;
}

footer p
{
  text-align: center;
  padding-bottom: 10px;
}

/* higher than 700 */
@media only screen and (min-width:700px)
{
	.wrap
	{
		margin: 0 auto;
		width: 75%;
		/* height: 100%; */
	}

	#type-Result
	{
		width: 80%;
		font-size: 20px;
	}

}

/* lower than 699 */
@media only screen and (max-width:699px)
{
	.wrap
	{
		width: 100%;
		margin-bottom: 28px;
	}
	#type-Result
	{
		width: 100%;
		font-size: 17px;
    margin-left: -25px;
	}

  .result-Box h3
  {
    font-size:16px;
  }

  .result-Box
  {
    margin-left: -20px;
  }
  #page-title
  {
    font-size: 23px;
  }

}
