@font-face {
    font-family: 'pokemon_gbregular';
    src: url('content/pokemon_gb-webfont.woff2') format('woff2'),
         url('content/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body
{
	/* background-image: url(checker.jpg); */
	font-family: 'pokemon_gbregular';
}

#page-title
{
	font-weight: normal;
	font-style: normal;
	color: black;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 35px;
}

#btn-Section1, #btn-Section2
{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

#btn-Section1
{
	margin-bottom: 15px;
}

.btns
{
	color: white;
	font-size: 17px;
	font-weight: bold;
	height: 30px;
	width: 75px;
	border: none;
	text-align: center;
	border-radius: 10%;
	box-shadow: 0px 0px 10px -4px black;
	margin-right:10px;
	margin-bottom: 10px;
}

.btns:hover
{
	cursor: pointer;
}

#dual-type-Chck
{
	width: 17px;
	height: 17px;
	margin-bottom: 30px;
	/* font-weight: bold; */
}

.normalBtn
{
	background-color: gray;
	border: 2px solid #727272;
}

.fireBtn
{
	background-color: #EE8130;
	border: 2px solid #cd6f29;
}

.waterBtn
{
	background-color: #2d69e8;
	border: 2px solid #1455df;
}

.electricBtn
{
	background-color: #F7D02C;

}

.grassBtn
{
	background-color: #7AC74C;

}

.iceBtn
{
	background-color: #a2e0ff;

}

.fightingBtn
{
	background-color: #C22E28;

}
.poisonBtn
{
	background-color: #A33EA1;

}
.groundBtn
{
	background-color: #E2BF65;

}
.flyingBtn
{
	background-color: #89f;

}
.psychicBtn
{
	background-color: #F95587;

}
.bugBtn
{
	background-color: #A6B91A;

}
.rockBtn
{
	background-color: #B6A136;

}
.ghostBtn
{
	background-color: #735797;

}
.dragonBtn
{
	background-color: #6F35FC;

}
.darkBtn
{
	background-color: #705746;

}
.steelBtn
{
	background-color: #B7B7CE;

}

.fairyBtn
{
	background-color:#fdbafd;
}

hr
{
	border: 0;
 	height: 1px;
 	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#results
{
	margin-left: 30px;
}



#type-Result
{
	/* font-family: 'Arial'; */
	text-align: center;
	color: white;
	margin: 0 auto;
	padding-top: 6px;
	padding-bottom: 8px;
	margin-left: auto;
	/* border: 2px solid black;
	border-radius: 30%; */
}

footer
{
	font-family: 'Arial';
	background-color: lightgreen;
	color: white;
	width: 100%;
	height: 100px;
	margin-bottom: 0px;
	/* ------------> TOdO <----------------
	didve footer in 2 parts
  put legel thingy about pokemon? -- left side
	put my github, contact -- right side
	 */
}


@media only screen and (min-width:700px)
{
	.wrap
	{
		margin: 0 auto;
		width: 75%;
		/* height: 100%; */
	}

	#type-Result
	{
		width: 80%;
		font-size: 20px;
	}

}
@media only screen and (max-width:699px)
{
	.wrap
	{
		width: 100%;
		margin-bottom: 28px;
	}

	#type-Result
	{
		width: 100%;
		font-size: 17px;
	}
}

/*	  DESIGN idea <------------------------
	--background: image with a bit of transparency showing the types
	like a ball with fire, leaf, water, etc (tcg energies)
	then the page is more more "show" like make sure the background
	dont take away from it.Maybe add a soft yellowish ? this will be
	a box look alike on top (shadow?). IF cant find image then get the
	tcg as reference -> trace and create them. (ball and inside the element
	ball inside is white but the element and the edbe/border of the ball is the
	type color then for the general background align them like rows but /)

	--Font: pokemon font with blue border
	the result boxes maybe put border around but faded with the same
	font blue.

	--Type Selected: try to do a gradiend between both color choosen like
	ex: fire blue (fire part start with its color then blue on the other side
	and it mix like in the middle)
*/
